{% extends "base.html" %}

{% load bootstrap4 %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="my-4">Login</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="form-control btn btn-success">Login</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}