{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="my-4">Change password</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="form-control btn btn-primary">Change!</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}