{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}

{% block body_content %}
    <div class="full-wrapper">
        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-content">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="#" data-toggle-id="full-wrapper">
                                <i class="fa fa-bars"></i>
                                <span class="full-open-only font-weight-bold">
                                    Performance Review
                                </span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.url_name == 'overview' %}active{% endif %}">
                             <a href="{% url 'core:overview' %}">
                                 <i class="fa fa-eye"></i>
                                <span class="full-open-only">
                                    Overview
                                </span>
                             </a>
                         </li>

                        <li class="{% if request.resolver_match.url_name == 'criteria' %}active{% endif %}">
                             <a href="{% url 'core:criteria' %}">
                                 <i class="fa fa-star-half-empty"></i>
                                <span class="full-open-only">
                                    Criteria
                                </span>
                             </a>
                         </li>

                        <li class="{% if request.resolver_match.url_name == 'projects' %}active{% endif %}">
                             <a href="{% url 'core:projects' %}">
                                 <i class="fa fa-tasks"></i>
                                <span class="full-open-only">
                                    My Projects
                                </span>
                             </a>
                         </li>

                        <li class="{% if request.resolver_match.url_name == '' %}active{% endif %}">
                             <a href="#">
                                 <i class="fa fa-line-chart"></i>
                                <span class="full-open-only">
                                    Stenghts & Weaknesses
                                </span>
                             </a>
                         </li>

                        <li class="{% if request.resolver_match.url_name == '' %}active{% endif %}">
                             <a href="#">
                                 <i class="fa fa-exchange"></i>
                                <span class="full-open-only">
                                    Peer reviews
                                </span>
                             </a>
                         </li>

                        {% if request.user.is_manager %}
                        <li class="{% if request.resolver_match.url_name == '' %}active{% endif %}">
                             <a href="#">
                                 <i class="fa fa-users"></i>
                                <span class="full-open-only">
                                    Manager reviews
                                </span>
                             </a>
                         </li>
                        {% endif %}

                        <hr/>

                        <li class="{% if request.resolver_match.url_name == 'password_change' %}active{% endif %}">
                            <a href="{% url 'accounts:password_change' %}" >
                                <i class="fa fa-key"></i>
                                <span class="full-open-only">
                                    Change password
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div  class="sidebar-footer text-center">
                    <a href="#" >
                        <img class="center-block logo img img-responsive" src="{% static 'img/logo.png' %}"  alt="{{ request.site.name }}" />
                    </a>

                    <ul class="sidebar-menu">
                        <li>
                            <span class="full-open-only">You are logged in as {{ user }}</span>
                        <li>
                             <a href="{% url "accounts:logout" %}" >
                                 <i class="fa fa-sign-out "></i>
                                <span class="full-open-only">
                                    Logout
                                </span>
                             </a>
                         </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            {% bootstrap_messages %}
            <div class="container-fluid" style="height:100%">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_js %}
    <script type="text/javascript">
        console.log($("[data-toggle-id='full-wrapper']")[0]);
        $("[data-toggle-id='full-wrapper']").click(function()
        {
            $(".full-wrapper").toggleClass("collapsed-sidebar");
        });
    </script>
{% endblock %}
