<!DOCTYPE html>

{% load staticfiles %}
{% load bootstrap4 %}

<html lang="en">

<head>
    {% block head_content %}
        <title>
            {% block title %}
                Performance Review
            {% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        {% endblock %}

        {% block head_js %}
            <script src="{% static 'jquery/js/jquery.min.js' %}"></script>
            <script src="{% static 'popper.js/js/popper.min.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}

        {% block head_meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
    {% endblock %}
</head>

<body>
    {% block body_content %}
    {% endblock %}

    {% block foot_js %}
    {% endblock %}
</body>
</html>